%h1 
  Listing people in
  %i
    = h @exam.name
Click "New person" below to add one person at time.
Click "Edit All" to quickly add or edit multiple people in a spreadsheet.
%p
= link_to "Edit All", exam_edit_people_path(@exam)
%table
  %tr
    %th Name
    %th Iq
    %th Birthdate
  - for person in @people
    %tr
      %td= h person.name
      %td= h person.iq
      %td= h person.birthdate
      %td= link_to 'Show', person
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New person', new_exam_person_path
|
= link_to "Back", exams_path
