%h1 
  Listing people in
  %i
    = h @grease_doc.name
= link_to "Edit All", grease_doc_edit_people_path(@grease_doc)
%table
  %tr
    %th Name
    %th Iq
    %th Birthdate
  - for person in @people
    %tr
      %td= h person.name
      %td= h person.iq
      %td= h person.birthdate
      %td= link_to 'Show', person
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New person', new_grease_doc_person_path
|
= link_to "Back", grease_docs_path
