%p
  %b Name:
  = h @person.name
%p
  %b Iq:
  = h @person.iq
%p
  %b Birthdate:
  = h @person.birthdate
%p
  %b Exam:
  = h @person.exam_id
= link_to 'Edit', edit_person_path(@person)
|
= link_to 'Back', exam_people_path(@person.exam)
