%h1
  Editing
= link_to @grease_doc.url_share, @grease_doc.url_share
%p
%iframe{ :src => @grease_doc.url_share, :style => "width:80%;height:600px"}
#result
%p
= link_to "Save", grease_doc_save_people_path(@grease_doc)
|
= link_to_remote "Save and Continue", :url => grease_doc_save_people_continue_url(@grease_doc), :update => "result"
|
= link_to_remote "Revert", :url => grease_doc_revert_people_url(@grease_doc), :update => "result"
%p
= link_to "Back", grease_doc_people_path(@grease_doc)