%h1 Listing grease_docs
%table
  %tr
    %th Name
  - for grease_doc in @grease_docs
    %tr
      %td= h grease_doc.name
      %td= link_to 'Show People', grease_doc_people_path(grease_doc)
      %td= link_to 'Edit', edit_grease_doc_path(grease_doc)
      %td= link_to 'Destroy', grease_doc, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New grease_doc', new_grease_doc_path
