%h1
  Editing
= link_to @exam.grease_doc_url, @exam.grease_doc_url
%p
%iframe{ :src => @exam.grease_doc_url, :style => "width:80%;height:600px"}
#result
%p
= link_to "Save", exam_save_people_path(@exam)
|
= link_to_remote "Save and Continue", :url => exam_save_people_continue_url(@exam), :update => "result"
|
= link_to_remote "Revert", :url => exam_revert_people_url(@exam), :update => "result"
%p
= link_to "Back", exam_people_path(@exam)