%h1 Listing exams
%table
  %tr
    %th Name
  - for exam in @exams
    %tr
      %td= h exam.name
      %td= link_to 'Show People', exam_people_path(exam)
      %td= link_to 'Edit', edit_exam_path(exam)
      %td= link_to 'Destroy', exam, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New exam', new_exam_path
